/* 
    Document   : default
    Created on : 4 mars 2010, 12:55:54
    Author     : flenoble
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
    background-color:#F9F9F9;
}

body {
    font-family: "Arial","Helvetica","Verdana","sans-serif";
    font-size: 11px;
}

/*
    Pied de page des formulaires
*/
.header {
    border: 1px solid #4297d7;
    background: #2191c0 url(images/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
    color: #eaf5f7;
    font-weight: bold;
    padding: 2px 50px;
}

#login {
/*background: url(images/logo.png) 25% 25%;*/
    margin:2em auto;
    width:340px;
}

#profil {
    width:800px;
    margin:2em auto;
}

#listecv{
    width: 100%;
}

#listeoffreent{
    float:left;
    width:55%;
    margin: 0 10px;
}

input.ui-button{
    float: right;
}

input.ui-button:disabled{
    background:#0078AE url(images/ui-bg_glass_45_000000_1x400.png) repeat-x scroll 50% 50%;
}

#create-user {
    float: left;
}

fieldset {
    border:1px solid #E5E5E5;
    padding: 4px;
    margin: 4px 0;

}

legend {
    font-size: 1.2em;
}

.roundbox, #formlogin, #formcompte, #formprofil, #gestionprofil, #gestionprofilent, #gestionoffreent {
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    -border-radius-topleft:11px;
    background:#FFF none repeat scroll 0% 0%;
    border:1px solid #E5E5E5;
    font-weight:normal;
    margin:8px;
    
}

.roundbox h1 {
    padding: 0px 15px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 0 0 11px;
    border-bottom: 1px solid #E5E5E5;
    color: #FFF;
    background: url("images/ui-bg_gloss-wave_75_2191c0_500x100.png") repeat-x scroll 50% 50% #2191C0;
}

#statut {
    width: 48%;
    float: left;
}
#statistiques {
    width: 48%;
    float: right;
}


#boxinfo {
    overflow: hidden;
    margin: 0 auto;
    width: 98%;
}

#candidatures {
    margin: 0 auto;
    width: 97%
}

#formlogin{
    padding:16px 10px 40px;
}

#formcompte {
    overflow:hidden;
    padding: 5px;
}

#user_pass, #user_login, #user_email {
/*    background:#FBFBFB none repeat scroll 0% 0%;*/
    border:1px solid #E5E5E5;
    font-size:24px;
    margin-bottom:16px;
    margin-right:6px;
    margin-top:2px;
    padding:3px;
    width:97%;
}

.formulaire-fiche select, .formulaire-fiche textarea, .formulaire-fiche input[type=text], #formcompte select, #formcompte input[type=text],  input[type=password]{
    width: 60%;
    font-size: 1em;
}

.formulaire-fiche textarea{
    height: 10em;
    background:#FBFBFB none repeat scroll 0% 0%;
    border:1px solid #E5E5E5;
}

#gestionprofil {
    width: 70%;
    font-size: 1em;
    padding: 10px;
    overflow: auto;
    margin: 0 auto;
}

#gestionoffreent {
    /*width: 40%;*/
    font-size: 1em;
    padding: 10px;
    overflow: auto;
    /*float: left;*/

}

#gestionprofilent {
    width: 70%;
    font-size: 1em;
    padding: 10px;
    overflow: auto;
}

.civilite{
    float: left;
    width: 80%;
}

.btn-profil{
    float: right;
    margin: 0 2px;
    border: none;
}

.formlabel{
    width:35%;
    font-size: 1em;
    float: left;
    text-align:right;
    padding: 0 0.8em 0 0;
}

select {
    margin-right: 6px;
/*    width: 61%;
    padding:3px;*/
}

#upload_photo{
    text-align:center;
    margin:5px;
    padding:2px;
    float: right;
}

.photo {
    width: 75px;
    height: 100px;
    display:block;
    border: 1px solid #B6C7D8;
    background: #E5E5E5;
    margin: 0 auto;
}




.logo {
    position:absolute;
    top: 143px;
    left: 62%;
    display:block;
    border: 1px solid #B6C7D8;
    background: #E5E5E5;
}

h1 a {
    background:transparent url(images/logo.png) no-repeat scroll center top;
    display:block;
    border: solid 1px #E5E5E5;
    height:67px;
    overflow:hidden;
    padding-bottom:15px;
    text-indent:-9999px;
    width:326px;
}

.conteneur {
    overflow: hidden;
}

#gbox_list {
      margin-left: auto;
      margin-right: auto;
}

.ligne_box{
    width: 100%;
    overflow: hidden;
}

.form_box {
    width: 33%;
    float: left;
}

.form_label {
    float: left;
    width: 120px;
 /*   width: 8em;*/
    text-align: right;
    /*font-size: 1em;*/
    line-height: 1.8em;
    padding: 0 0.8em 0 0;
    font-weight: bold;
/*    margin: 0;
    margin-top: 0.3em;*/
}

legend {
    font-weight: bold;
}

.form_input {
    margin-right: 1em;
/*    margin: 3px;
    padding: 3px 4px;*/
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-color: #2191C0;
}

#footer {
    float:right
}

.icones {
    margin: 0px 5px;
/*    padding: 0px 8px;*/
}

#zone_recherche{
    position:absolute;
    top:50px;
    left:81%;
    width:18%
}

.editer {
    position:relative;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('images/edit_16.png') no-repeat;
}

.supprimer {
    position:relative;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('images/purge_16.png') no-repeat;
}

.certificat_etudiant {
    position:relative;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('images/certificat_16.png') no-repeat;
}

.fiche_etudiant {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('images/fiche_16.png') no-repeat;
}

.carte_etudiant {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    background: url('images/carte_16.png') no-repeat;
}

.applications {

}

.jpeg, .png, .gif, .bmp {
    width: 32px;
    height: 32px;
    background: url('images/document-image-32.png') no-repeat;
    display: block;
}


.pdf{
    width: 32px;
    height: 32px;
    background: url('images/document-pdf-32.png') no-repeat;
    display: block;
}

.owf{
    width: 32px;
    height: 32px;
    background: url('images/document-owf-32.png') no-repeat;
    display: block;
}

.msword, .docx{
    width: 32px;
    height: 32px;
    background: url('images/document-doc-32.png') no-repeat;
    display: block;
}

.active{
    /*width: 32px;
    height: 32px;*/
    /*background-image: url('images/document-doc-32.png');*/
    /*display: block;*/
}

.noactive{
    /*width: 32px;
    height: 32px;*/
/*    background-image: url('images/document-pdf-32.png');*/
    /*display: block;*/
}

.formtable {
    border:1px solid #2191C0;
    border-collapse: collapse;
    width:98%;
    margin:auto;
}
.formtable thead, .formtable tfoot {
    background:#2191C0 url(images/ui-bg_gloss-wave_75_2191c0_500x100.png) repeat-x scroll 50% 50%;
    border:1px solid #2191C0;
}
.formtable tbody {
    background-color:#FFFFFF;
    border:1px solid #2191C0;
}
.formtable th {
    border:1px dotted #2191C0;
    padding:5px;
    color:#EAF5F7;
    font-weight:bold;
    font-size: 11px;
    width:25%;
}
.formtable td {
    font-size:80%;
    border-collapse: collapse;
    border-style: none solid;
    border-width: 1px;
    border-color: #2191C0;
    padding: 2px;
}

.formtable td input {
    width: 100%;
    padding: 2px;
    text-align: right;
}

td.ligneentete {
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-color: #2191C0;
}

#listelangue{
    width: 200px;
    float: left;
}

#detaillangue{
    width: 183px;
    float: left;
}