#menu-tabs {
     overflow: hidden;
     background-color: #E3ECF8;
     border: 1px solid #AAAAAA;
     color: #222222;
     -moz-border-radius-topleft: 4px;
     -moz-border-radius-topright: 4px;
     padding: 0pt;
     margin: 0pt 0pt 3px 0pt;
}

.page_titre{
    font-size: 1.4em;
    text-align: right;
    margin: 0;
    padding: 0;
}

.menu-tabs-nav {
    background-color: #BFDBFF;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: -1px -1px 2px;
    padding: 2px 3px 0px;
    position: relative;
    border-bottom: 1px solid #AAAAAA;
}

.menu-tabs-nav li {
    float: left;
    margin: 0pt 0.2em -1px 0pt;
    padding: 0pt;
    position: relative;
}

.menu-state-active{
    background:#E3ECF8 url(images/glossy-effect.png) repeat-x scroll 50% 50%;
    border:1px solid #AAAAAA;
    color:#212121;
    font-weight:normal;
    outline-color: -moz-use-text-color;
    outline-style:none;
    outline-width:medium;
}

.menu-tabs-nav li a, .menu-tabs-nav li a:link, .menu-tabs-nav li a:visited{
    float: left;
    text-decoration: none;
    color: #fff;
}
.menu-tabs-nav li a {
    outline-style: none;
/*    color: #212121;*/
    padding: 2pt 2em;
    margin: 0pt 0.2em 0px 0pt;   
}

#detail{
	height: 85px;
	border: 1px solid;
	background-color: #e6f5fe;
	padding : 2px;
}

table {
	text-align: center;
	padding: 0px;
}

.element {
	/*width : 200px;*/
	height : 80px;
	border : 1px solid #b6c7d8;
	background-color: #d7e3f2;
	text-align: center;
	color: #43418b;
	float: left;
	margin: 0  2px 2px;
	padding: 1px;
}

.elementlink {
	text-decoration: none;
	display: block;
	font-size: 0.8em;
/*	color: #43418b;*/
	padding-top: 2px;
	background-color: #d7e3f2;
}

.textelien {
	display: inline;
	vertical-align: middle;
}

.bigelementlink {
	text-decoration: none;
	display: block;
	font-size: 0.8em;
/*	color: #43418b;*/
	background-color: #d7e3f2;
	height: 52px;
	z-index: 1;
	padding: 2px 2px 0px;
}


.bigselectlink {
	text-decoration: none;
	display: block;
	font-size: 0.8em;
/*	color: #43418b;*/
	background-color: #d7e3f2;
	height: 32px;
	width: 32px;
	padding: 2px 2px 0px;
}

.flechelink p{
    display: none;
}

.flechelink {
	text-decoration: none;
	display: block;
	font-size: 0.8em;
/*	color: #43418b;*/
	background-color: #d7e3f2;
	height: 18px;
	padding: 0px 2px 2px;
}


img {
	border: none;
	padding: 0px;
	z-index: 0;
}

.stitle{
	text-align: center;
	font-size: 0.9em;
	font-weight:bold;	
	border-bottom : 1px solid #b6c7d8;
	background-color: #c1d9f1;
	padding: 2px;
}

.selement{
	height: 60px;
	padding: 2px;

}

.sselement{
	float: left;
	margin: 2px;
}

/*a:active{background-color: #e2d2a0;}*/

.bigsselement{
	/*height: 60px;*/
	/*float: left;*/
	clear: both;
	width: 60px;
}


.bigsselect{
	/*height: 60px;*/
	/*float: left;*/
	clear: both;
	width: 38px;
}

.smallsselement{
	/*margin-bottom: 5px;*/
	clear: both;
	width: 65px;	
	/*background-color: #e2d2a0;*/
	text-align:left;
}

.selectable { 
	list-style-type: none; 
	margin:0pt;
	padding:0pt;
	background:#D7E3F2;
}

.selectable .ui-selectee{
	color: #43418B;
}

.ui-selected {
	border : solid 1px #f39814;
	/*display: block;*/
	background: url(images/bg-png-deg_orange_1x80.png) repeat-x;
}

#logout {
    float:right;
}

#logout a{
    display: block;
    text-decoration: none;
    color: #000;
    width: 58px;
    outline-style: none;
}