/* 
    Document   : offres
    Created on : 15 sept. 2010, 08:31:41
    Author     : flenoble
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#infos_cles {
    background:#FFFFFF url(images/infos_cles.jpg) no-repeat scroll left top;
    float:left;
    margin:10px;
    width:176px;
}

#infos_cles_contenu {
    margin:12px 23px 0pt 25px;
}

#infos_cles_contenu h2 {
border-bottom:1px dotted #666666;
color:#6D369A;
font-size:100%;
font-weight:bold;
margin:0pt;
padding-bottom:3px;
}

#infos_cles_contenu dl {
color:#000000;
font-size:80%;
}


#infos_cles_contenu dt {
font-weight: bold;
line-height:1.25em;
}

#infos_cles_contenu dd {
font-weight: normal;
line-height:1.25em;
margin:0pt 0pt 10px;
}

#detailoffre{
float:none;
overflow:hidden;
}

.offrelabel{
    width:15%;
}

.offrelonglabel{
    width:35%;
}

.offrelonglabel, .offrelabel{
    float:left;
    font-size:1em;
    padding:0pt 0.8em 0pt 0pt;
    text-align:left;
    text-decoration: underline;
    font-weight: bold;
}

.offredescription{
    float:right;
    font-size:1em;
    padding:0pt 0.8em 0pt 0pt;
    text-align:justify;
    width:80%;
}

.divblock{
    float: left;
    width: 100%;
}

p{

}